html
	head
		title Admin
		meta(name='viewport' control='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='../SiteAssets/css/vendors/bootstrap.min.css')
		link(rel='stylesheet' href='../SiteAssets/css/vendors/line-awesome.min.css')
		link(rel='stylesheet' href='../SiteAssets/css/pages/layout.css')
		link(rel='icon' href='../SiteAssets/images/qafya-icon.ico')
		script(src='../SiteAssets/js/vendors/jquery.min.js')
		script(src='../SiteAssets/js/vendors/bootstrap.bundle.min.js')
		script(src='../SiteAssets/js/global.js')
		block links

	body
		header
			nav.navbar.navbar-expand-lg.shadow-sm.fixed-top
				a.navbar-brand(href='')
					img(src='../SiteAssets/images/qafya-logo.png')
				button.navbar-toggler(type='button' data-target='#navbarContent' data-toggle='collapse')
					i.las.la-bars
				h5.nav-link Qafya
				.collapse.navbar-collapse#navbarContent
					ul.navbar-nav.ml-auto
						li.nav-item.dropdown.dropleft
							a.nav-link.notification-dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								span.badge.badge-pill.badge-primary(style='float:right;margin-bottom:-10px;')
								i.las.la-bell
							.dropdown-menu.notification-dropdown-menu.shadow-lg(aria-labelledby='notification-dropdown')
								.dropdown-title
									a(href='') notifications
										span.ml-2.notifications-count (1)
									a(href='').float-right mark all as read
								.dropdown-body
									ul.list-unstyled
										li.media
											a(href='').notification-card
												img.mr-3.rounded-circle(src='../SiteAssets/images/information.svg', alt='...')
												.media-body
													h6.mt-0.mb-1 List-based media object
													p Cras sit amet nibh libero, in gravida nulla.
													small.text-muted 21.03.2020, 13.02
										li.media
											a(href='').notification-card
												img.mr-3.rounded-circle(src='../SiteAssets/images/information.svg', alt='...')
												.media-body
													h6.mt-0.mb-1 List-based media object
													p Cras sit amet nibh libero, in gravida nulla.
													small.text-muted 21.03.2020, 13.02
										li.media
											a(href='').notification-card
												img.mr-3.rounded-circle(src='../SiteAssets/images/information.svg', alt='...')
												.media-body
													h6.mt-0.mb-1 List-based media object
													p Cras sit amet nibh libero, in gravida nulla.
													small.text-muted 21.03.2020, 13.02
								.dropdown-footer.text-center
									a(href='') view more
						li.nav-item
							.nav-link
								span.vertical-divider
						li.nav-item
							a.nav-link(href='#')
								img.rounded-circle(src='../SiteAssets/images/person.jpg')
						li.nav-item.dropdown.dropleft
							a.nav-link.profile-dropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								| jane doe
							.dropdown-menu.shadow-lg(aria-labelledby='profile-dropdown')
								a.dropdown-item(href='#')
									i.las.la-user.mr-2
									| profile
								a.dropdown-item(href='#')
									i.las.la-cog.mr-2
									| settings
		main
			.side-nav.shadow-sm
				ul.list-group.list-group-flush
					a(href='dashboard.html').list-group-item
						i.las.la-shapes.la-lw
						| dashboard
					a(href='patients.html').list-group-item
						i.las.la-user-injured.la-lw
						| patients
					a(href='').list-group-item
						i.las.la-clipboard-list.la-lw
						| activities
					a(href='').list-group-item
						i.las.la-shopping-cart.la-lw
						| procurement
					a(href='').list-group-item
						i.las.la-users.la-lw
						| employees
					a(href='').list-group-item
						i.las.la-tools.la-lw
						| tools
					a(href='').list-group-item
						i.las.la-chart-pie.la-lw
						| reports
					hr.divider
					a(href='').list-group-item
						i.las.la-user-shield.la-lw
						| account
					a(href='').list-group-item
						i.las.la-cogs.la-lw
						| settings
			.main-content
				.container-fluid
					block content
