extends _layout

append links
	link(rel='stylesheet' href='../SiteAssets/css/pages/dashboard.css')
	link(rel='stylesheet' href='../SiteAssets/css/vendors/Chart.min.css')
	script(src='../SiteAssets/js/vendors/Chart.bundle.min.js')
	script(src='../SiteAssets/js/dashboard.js')

block content
	.section
		.row
			.col-md-6
				h5.nav-link.page-title
	.section.functionality-section
		.section-content
			.card-deck
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-plus-square
					.card-body
						p add clinic
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-user-md
					.card-body
						p add doctor
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-user-plus
					.card-body
						p add user
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-user-lock
					.card-body
						p add clinic admin
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-calendar-plus
					.card-body
						p add clinic
				a(href='').card.text-center
					.card-title
						.icon-wrapper
							i.las.la-user-nurse
					.card-body
						p add nurse
	.section.card-summaries
		.section-content
			.card-deck
				.card
					.card-header
						h5 recent activities
					.card-body
						canvas#recent-activity-chart
				.card
					.card-header
						h5 total bookings
					.card-body
						canvas#bookings-chart
				.card
					.card-header
						h5 diseases summary
					.card-body
						canvas#diseases-chart
			.card-deck
				.card
					.card-header
						h5 top treatments
					.card-body
						ol(type='1')
							li consultation
							li scaling
							li root canal
							li bleaching
							li x-rays
					.card-footer
						a(href='')
							| more
				.card
					.card-header
						h5 total counts
					.card-body
						.row
							.col-md-6
								i.las.la-users
								h4 100
								p total users
							.col-md-6
								i.las.la-user-md
								h4 12
								p total doctors
							.col-md-6
								i.las.la-user-injured
								h4 3210
								p total patients
							.col-md-6
								i.las.la-hospital
								h4 40
								p total clinics
				.card
					.card-header
						h5 recent patients
					.card-body
						table.table.table-borderless.table-hover
							tbody
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
			.card-deck
				.card
					.card-header
						h5 doctors list
					.card-body
						table.table.table-borderless.table-hover
							tbody
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p +271289178
									td.text-right
										button.btn.btn-outline-secondary.btn-sm appointment
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p +271289178
									td.text-right
										button.btn.btn-outline-secondary.btn-sm appointment
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p +271289178
									td.text-right
										button.btn.btn-outline-secondary.btn-sm appointment
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p +271289178
									td.text-right
										button.btn.btn-outline-secondary.btn-sm appointment
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
				.card
					.card-header
						h5 upcoming appointments
					.card-body
						table.table.table-borderless.table-hover
							tbody
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p 24y
									td.text-right
										button.btn
											i.las.la-check-circle
										button.btn
											i.las.la-times-circle
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p 24y
									td.text-right
										button.btn
											i.las.la-check-circle
										button.btn
											i.las.la-times-circle
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p 24y
									td.text-right
										button.btn
											i.las.la-check-circle
										button.btn
											i.las.la-times-circle
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
								tr
									td
										img.rounded-circle(src='https://placebeard.it/640x360')
									td
										p john doe
										small.text-muted dentist
									td
										p.text-muted male
									td.text-right
										p 24y
									td.text-right
										button.btn
											i.las.la-check-circle
										button.btn
											i.las.la-times-circle
									td
										button.btn.btn-sm
											i.las.la-ellipsis-h
