extends _layout

block links
	link(rel='stylesheet' href='../SiteAssets/css/pages/dashboard.css')

block content
	.section.functionality-section
		.section-content
			.row
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-plus-square
						.card-body
							p add clinic
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-user-md
						.card-body
							p add doctor
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-user-plus
						.card-body
							p add user
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-user-lock
						.card-body
							p add clinic admin
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-calendar-plus
						.card-body
							p add clinic
				.col-md-2
					a(href='').card.text-center
						.card-title
							.icon-wrapper
								i.fas.fa-user-nurse
						.card-body
							p add nurse

