extends _layout

append links
	link(rel='stylesheet' href=assetsDirectory + '/css/pages/patients.css')
	script(src=assetsDirectory + '/js/patients.js')

block content
	.section.title-filters-section
		.row
			.col-md-8
				h5.nav-link.page-title
			.col-md-4.buttons-wrapper
				.dropdown
					a.btn.btn-dark-red-o.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| filter
					.dropdown-menu.shadow-lg(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
				.dropdown
					a.btn.btn-dark-red-o.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| sort by
					.dropdown-menu.shadow-lg(aria-labelledby='dropdownMenuLink')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
				.switch-view-btns
					.btn-group.btn-group-toggle(data-toggle='buttons')
						label.btn.btn-dark-red-o.active
							input#card-view-btn(type='radio', name='options', checked='')
							i.las.la-th
						label.btn.btn-dark-red-o
							input#table-view-btn(type='radio', name='options')
							i.las.la-list-ul
	.section.patients-card-view
		.row
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src='https://source.unsplash.com/random').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p consultancy
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src='https://source.unsplash.com/random').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p consultancy
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src='https://source.unsplash.com/random').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p consultancy
					.card-footer
			.col-md-3
				.card
					.card-header
						.card-img-top
							img(src='https://source.unsplash.com/random').rounded-circle
							a(href='details.html').view-more
								| view profile
					.card-body
						.card-subsection-title
							h5 john doe
							p.text-muted patient-id: 2189178
						.card-subsection-body
							label.text-muted age
							p 29
							label.text-muted date of birth
							p 21/12/1993
							label.text-muted diagnosis
							p consultancy
					.card-footer
	.section.patients-table-view.no-display
		table.table.table-hover
			thead
				tr
					th patient ID
					th patient name
					th age
					th date of birth
					th diagnosis
					th triage
					th
			tbody
				tr
					td 2189178
					td
						img.rounded-circle(src='https://placebeard.it/640x360' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-pink urgent
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-o
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src='https://placebeard.it/640x360' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-orange checkup
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-o
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src='https://placebeard.it/640x360' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-blue x-ray
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-o
							| view profile
				tr
					td 2189178
					td
						img.rounded-circle(src='https://placebeard.it/640x360' loading='lazy')
						span.ml-2 john doe
					td 29 yo
					td 21/03/1992
					td cancer
					td
						label.label-green consultancy
					td
						a(href='details.html').view-more.btn.btn-sm.btn-dark-red-o
							| view profile
