@import "../themes/colors"
@import "../base/icons"

.side-nav
  padding: 1em 0
  min-height: 100vh
  background-color: white

  .list-group
    position: fixed
    width: inherit

    .list-group-item
      width: 101%
      text-transform: capitalize
      color: $color-darker-grey
      text-decoration: none
      border: 1px solid transparent
      font-weight: 500

      i
        margin-right: .5em

      &:hover,
      &:focus
        background-color: $color-dark-red
        border: 1px solid $color-dark-red
        color: $color-white
        @include shadow-sm
        @include transition

    .aob-items, .side-nav-footer
      padding: .5em 1em

      p
        margin: 0

      .card
        background-color: $color-white-ish
        border: 1px solid $color-light-grey

        .card-header
          text-align: center
          margin-bottom: 1em

          img
            width: 40%

        .card-body
          p
            margin: 0 0 .5em 0
            text-transform: capitalize
            font-weight: 500

            i
              margin-right: .5em

        .card-footer
          margin-top: 1em
          text-align: center

          a
            width: 100%
            @include shadow-sm

    hr, .divider
      width: 100%
      margin: 1em 0
