@import "layout"
@import "../themes/colors"
@import "../layout/section"
@import "../components/cards"

//TODO work on styling cards

main
  .main-content
    .functionality-section
      .section-content
        .card
          background-color: white
          text-transform: capitalize
          @include border-radius

          .card-title
            padding-top: 1em

            i
              font-size: 3em
              color: $color-dark-red

          .card-body
            color: black
            margin: 1em 0

            p
              font-weight: 500
              vertical-align: bottom

          &:hover,
          &:focus
            @include border-radius
            @include shadow-md
            text-decoration: none
            background-color: $color-dark-red
            border-color: $color-dark-red

            .card-title
              i
                color: $color-white-ish

            .card-body
              p
                color: $color-white-ish

    .card-summaries
      .card
        margin-bottom: 1em

        .card-header
          padding: 1em

        .card-body
          padding: .5em 1em

          table
            tr
              align-items: center
              text-transform: capitalize

              td
                p
                  margin: 0

                p:not(.text-muted)
                  font-weight: 600

          img
            width: 30px
            height: 30px
            object-fit: cover

@media only screen and (min-width: 600px)
  main
    display: flex
