/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
.section {
  margin: 2em;
}
.section .page-title {
  text-transform: capitalize;
}
.section .section-content {
  margin: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section {
    margin: 1em 0.5em;
  }
}
/* Extra small devices (phones, 600px and down) */
.card-deck {
  margin-bottom: 1.25em;
}

.card {
  border-radius: 0;
  padding: 1em;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.card .card-header {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  border: none;
  vertical-align: center;
}
.card .card-header h1, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5, .card .card-header h6 {
  text-transform: capitalize;
}
.card .card-body {
  padding: 0;
}
.card .card-footer {
  background-color: transparent;
  padding: 0;
  border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card-deck {
    margin-bottom: 1em;
  }
  .card-deck .card {
    padding: 0.75em;
  }
}
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Extra small devices (phones, 600px and down) */
.btn {
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}
.btn i {
  margin-right: 0.5em;
}
.btn:hover, .btn:focus {
  transition: all ease-in-out 150ms;
  outline: none;
  box-shadow: none;
}

.btn-dark-red-f {
  background-color: #a8001f;
  color: white;
}
.btn-dark-red-f:hover, .btn-dark-red-f:focus {
  background-color: transparent;
  border: 1px solid #a8001f;
  color: #a8001f;
}

.btn-dark-red-o {
  background-color: transparent;
  color: #a8001f;
  border: 1px solid #a8001f;
}
.btn-dark-red-o:hover, .btn-dark-red-o:focus {
  background-color: #a8001f;
  border: 1px solid transparent;
  color: white;
}

.btn-dark-blue-f {
  background-color: #00417c;
  color: white;
}
.btn-dark-blue-f:hover, .btn-dark-blue-f:focus {
  background-color: transparent;
  border: 1px solid #00417c;
  color: #00417c;
}

.btn-dark-blue-o {
  background-color: transparent;
  color: #00417c;
  border: 1px solid #00417c;
}
.btn-dark-blue-o:hover, .btn-dark-blue-o:focus {
  background-color: #00417c;
  border: 1px solid transparent;
  color: white;
}

.btn-darker-grey-f {
  background-color: #333333;
  color: white;
}
.btn-darker-grey-f:hover, .btn-darker-grey-f:focus {
  background-color: transparent;
  border: 1px solid #333333;
  color: #333333;
}

.btn-darker-grey-o {
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}
.btn-darker-grey-o:hover, .btn-darker-grey-o:focus {
  background-color: #333333;
  border: 1px solid transparent;
  color: white;
}

main .section .section-content {
  margin: 0;
}
main .main-content .welcome-section .welcome-content-card .welcome-text-wrapper h5 {
  text-transform: capitalize;
}
main .main-content .welcome-section .welcome-content-card .welcome-img-wrapper {
  text-align: right;
}
main .main-content .welcome-section .welcome-content-card .welcome-img-wrapper img {
  width: 60%;
}
main .main-content .welcome-section .app-stats-card .card-body i {
  color: #a8001f;
  margin-bottom: 0.25em;
}
main .main-content .welcome-section .app-stats-card .card-body h4, main .main-content .welcome-section .app-stats-card .card-body p, main .main-content .welcome-section .app-stats-card .card-body a {
  margin: 0;
  text-transform: capitalize;
  color: #333333;
}
main .main-content .welcome-section .app-stats-card .card-body a:hover, main .main-content .welcome-section .app-stats-card .card-body a:focus {
  color: #a8001f;
}
main .main-content .functionality-section .section-content .card {
  background-color: #a8001f;
  text-transform: capitalize;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #a8001f;
}
main .main-content .functionality-section .section-content .card .card-title {
  padding-top: 1em;
}
main .main-content .functionality-section .section-content .card .card-title i {
  font-size: 3em;
  color: #f9f9f9;
}
main .main-content .functionality-section .section-content .card .card-body {
  color: black;
  margin: 1em 0;
}
main .main-content .functionality-section .section-content .card .card-body p {
  font-weight: 500;
  vertical-align: bottom;
  color: #f9f9f9;
}
main .main-content .functionality-section .section-content .card:hover, main .main-content .functionality-section .section-content .card:focus {
  border-radius: 0;
  transition: all ease-in-out 150ms;
  transform: scale(1.02, 1.02);
  text-decoration: none;
  background-color: white;
}
main .main-content .functionality-section .section-content .card:hover .card-title i, main .main-content .functionality-section .section-content .card:focus .card-title i {
  color: #a8001f;
}
main .main-content .functionality-section .section-content .card:hover .card-body p, main .main-content .functionality-section .section-content .card:focus .card-body p {
  color: #a8001f;
}
main .main-content .card-summaries .card {
  margin-bottom: 0.5em;
}
main .main-content .card-summaries .card .card-header {
  padding: 0.5em;
}
main .main-content .card-summaries .card .card-body {
  padding: 0.5em;
}
main .main-content .card-summaries .card .card-body i {
  color: #a8001f;
}
main .main-content .card-summaries .card .card-body table tr {
  align-items: center;
  text-transform: capitalize;
}
main .main-content .card-summaries .card .card-body table tr td p {
  margin: 0;
}
main .main-content .card-summaries .card .card-body table tr td p:not(.text-muted) {
  font-weight: 600;
}
main .main-content .card-summaries .card .card-body table tr td button, main .main-content .card-summaries .card .card-body table tr td .btn {
  box-shadow: none;
}
main .main-content .card-summaries .card .card-body img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
main .main-content .card-summaries .card .card-body ol[type="1"] li {
  font-weight: 500;
  text-transform: capitalize;
}
main .main-content .card-summaries .card .card-footer {
  text-align: right;
  padding: 0.5em 1em;
}
main .main-content .card-summaries .card .card-footer .view-more {
  padding: 0.5em 1em;
  color: #333333;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 1.25em;
  background-color: #d8d8d8;
  border: 1.5px solid #d8d8d8;
  text-decoration: none;
}
main .main-content .card-summaries .card .card-footer .view-more i {
  margin-left: 1.5em;
  background-color: #a8001f;
  padding: 0.25em;
  color: #f9f9f9;
  border-radius: 50%;
}
main .main-content .card-summaries .card .card-footer .view-more:hover, main .main-content .card-summaries .card .card-footer .view-more:focus {
  border: 1.5px solid #a8001f;
  transition: all ease-in-out 150ms;
  background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome-section .welcome-content-card .card-body .welcome-text-wrapper {
    text-align: center;
    margin: 0.5em 0;
  }
  .welcome-section .welcome-content-card .card-body .welcome-text-wrapper h5, .welcome-section .welcome-content-card .card-body .welcome-text-wrapper p {
    margin-bottom: 0.5em;
  }
  .welcome-section .welcome-content-card .card-body .welcome-img-wrapper {
    text-align: center !important;
  }
  .welcome-section .welcome-content-card .card-body .welcome-img-wrapper img {
    width: 50% !important;
  }
  .welcome-section .app-stats-card .card-body .col-md-4 {
    width: 33.33%;
  }
  .welcome-section .app-stats-card .card-body .col-md-4 .las {
    font-size: 2em;
  }
  .welcome-section .app-stats-card .card-body .col-md-4 p {
    margin: 0.35em 0 !important;
    font-size: 0.9em;
  }
  .welcome-section .app-stats-card .card-body .col-md-4 h4 {
    font-size: 1.3em;
    margin-bottom: 0.5em !important;
  }

  .functionality-section .card-deck {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .functionality-section .card-deck .card {
    width: 45%;
    display: inline-block;
    margin: 0.25em;
    padding: 0;
  }
  .functionality-section .card-deck .card .card-title i {
    font-size: 1.5em;
  }
  .functionality-section .card-deck .card .card-body {
    margin: 0;
  }
  .functionality-section .card-deck .card .card-body p {
    font-size: 0.8em;
  }

  .card-summaries .card-deck {
    width: 100%;
  }
  .card-summaries .card-deck .card {
    margin-bottom: 1em !important;
  }
  .card-summaries .card-deck .card .card-body {
    padding: 0 !important;
  }
  .card-summaries .card-deck .card .card-footer {
    text-align: center !important;
  }
  .card-summaries .card-deck .total-counts-summary .card-body .col-md-6 {
    width: 50%;
    text-align: center;
  }
  .card-summaries .card-deck .total-counts-summary .card-body .col-md-6 i {
    font-size: 1.5em;
  }
  .card-summaries .card-deck .total-counts-summary .card-body .col-md-6 h4 {
    font-size: 1.3em;
  }
  .card-summaries .card-deck .total-counts-summary .card-body .col-md-6 p {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=dashboard.css.map */
