/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
nav, .navbar {
  background-color: #f9f9f9;
  padding-right: 2em;
  padding-left: 2em;
}
nav .navbar-brand, .navbar .navbar-brand {
  color: #f7002d;
  text-transform: uppercase;
}
nav .navbar-brand img, .navbar .navbar-brand img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
nav .page-title, .navbar .page-title {
  text-transform: capitalize;
}
nav .navbar-collapse .navbar-nav, .navbar .navbar-collapse .navbar-nav {
  align-items: center;
}
nav .navbar-collapse .navbar-nav .nav-item .nav-link, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 0.5em 0.75em;
  color: black;
  text-transform: capitalize;
}
nav .navbar-collapse .navbar-nav .nav-item .nav-link .vertical-divider, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link .vertical-divider {
  border-left: 2px solid lightgray;
}
nav .navbar-collapse .navbar-nav .nav-item .nav-link img, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
nav .navbar-collapse .navbar-nav .nav-item .nav-link .fa-bell, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link .fa-bell {
  font-size: 1.2em;
  color: #a8001f;
}
nav .navbar-collapse .navbar-nav .dropdown-menu, .navbar .navbar-collapse .navbar-nav .dropdown-menu {
  border: none;
  border-radius: 0;
}
nav .navbar-collapse .navbar-nav .dropdown-menu a, .navbar .navbar-collapse .navbar-nav .dropdown-menu a {
  text-transform: capitalize;
}
nav .navbar-collapse .navbar-nav .profile-dropdown, .navbar .navbar-collapse .navbar-nav .profile-dropdown {
  font-weight: 600;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu {
  padding: 0;
  width: 400px;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-title, nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-footer, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-title, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-footer {
  background-color: #a8001f;
  padding: 0.5em 1em;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-title a, nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-footer a, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-title a, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-footer a {
  color: #f9f9f9;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body {
  padding: 0;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card {
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0;
  color: black;
  padding: 0.5em 1em;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card img, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card img {
  width: 25px;
  height: 25px;
  background-color: #f9f9f9;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card a, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card a {
  color: black;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card:hover, nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card:focus, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card:hover, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body .media .notification-card:focus {
  background-color: #f9f9f9;
  text-decoration: none;
}
nav .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body p, .navbar .navbar-collapse .navbar-nav .notification-dropdown-menu .dropdown-body p {
  margin: 0;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
.side-nav {
  padding: 1em 0;
  min-height: 100vh;
  background-color: white;
}
.side-nav .list-group .list-group-item {
  border: none;
}
.side-nav .list-group .list-group-item i {
  margin-right: 0.5em;
}
.side-nav .list-group .list-group-item a {
  text-transform: capitalize;
  color: black;
}
.side-nav .list-group .list-group-item a:hover {
  text-decoration: none;
}
.side-nav .list-group .list-group-item:hover {
  background-color: #a8001f;
}
.side-nav .list-group .list-group-item:hover a {
  color: #f9f9f9;
}

main {
  width: 100vw;
  background-color: #FAFAFA;
  min-height: 100vh;
}
main .side-nav {
  width: 15%;
}
main .main-content {
  width: 85%;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
.section {
  margin: 2em;
}
.section .section-content {
  margin: 1em;
}

.card {
  border-radius: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.card .card-header {
  border-radius: 0;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0;
  border: none;
}
.card .card-body {
  padding: 0;
}
.card .card-footer {
  background-color: transparent;
  padding: 0;
  border: none;
}

main .main-content .functionality-section .section-content .card {
  background-color: white;
  text-transform: capitalize;
  border-radius: 0;
}
main .main-content .functionality-section .section-content .card .card-title {
  padding-top: 2em;
}
main .main-content .functionality-section .section-content .card .card-title i {
  font-size: 3em;
  color: #a8001f;
}
main .main-content .functionality-section .section-content .card .card-body {
  color: black;
  min-height: 100px;
}
main .main-content .functionality-section .section-content .card .card-body p {
  font-weight: 500;
  font-size: 0.95em;
  vertical-align: bottom;
}
main .main-content .functionality-section .section-content .card:hover, main .main-content .functionality-section .section-content .card:focus {
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background-color: #a8001f;
  border-color: #a8001f;
}
main .main-content .functionality-section .section-content .card:hover .card-title i, main .main-content .functionality-section .section-content .card:focus .card-title i {
  color: #f9f9f9;
}
main .main-content .functionality-section .section-content .card:hover .card-body p, main .main-content .functionality-section .section-content .card:focus .card-body p {
  color: #f9f9f9;
}
main .main-content .card-summaries .card {
  margin-bottom: 1em;
}
main .main-content .card-summaries .card .card-body table tr {
  align-items: center;
  text-transform: capitalize;
}
main .main-content .card-summaries .card .card-body table tr td p {
  margin: 0;
}
main .main-content .card-summaries .card .card-body table tr td p:not(.text-muted) {
  font-weight: 600;
}
main .main-content .card-summaries .card .card-body img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  main {
    display: flex;
  }
}

/*# sourceMappingURL=dashboard.css.map */
