@import "../themes/colors"
@import "../layout/section"
@import "../components/cards"
@import "../components/labels"

.patient-details-section
  .patients-details-card-wrapper
    border-left: 1px solid $color-light-grey

  .card
    margin-bottom: 1.5em

  .mini-card
    .card-header
      img
        width: 80px
        height: 80px
        object-fit: cover

    .card-footer
      button
        width: 100%

  .tab-content
    background-color: $color-white-ish
    border-radius: .5em

    .section-title
      margin-top: 1em
      border-bottom: 1px solid $color-lighter-grey
      padding: 1em

    .media
      border-bottom: 1px solid $color-lighter-grey
      padding: .5em 1em

      .align-self-center
        border-right: 1.5px solid $color-lighter-grey
        padding: 1em

        p, h3
          margin: 0
          text-align: right
          text-transform: capitalize
          color: $color-darker-grey

      .media-body
        .row
          margin: 0 .5em
          padding: .5em 0

          label:not(.label-sm), p
            width: 19%

          label, p
            font-size: .85em
            padding-left: .5em
            text-transform: capitalize

          label
            height: 40px

            &:nth-of-type(1)
              border-top-right-radius: .5em
              border-bottom-right-radius: .5em
              padding-top: .75em

            &:nth-of-type(2)
              border-radius: .5em

            i
              margin-right: .5em

          .label-sm
            text-align: center
            padding-top: .5em
            font-weight: 400

          .btn
            padding: .25em

          a
            width: 5%
            text-align: center

          p, a
            padding-top: .5em
            color: $color-dark-grey
            text-align: center
            margin: 0

            i
              vertical-align: center
              margin-right: .5em
              font-size: 1em
