@import "../themes/colors"
@import "../layout/section"
@import "../components/cards"

.patient-details-section
  .patients-details-card-wrapper
    border-left: 1px solid $color-light-grey

  .card
    margin-bottom: 1.5em

  .mini-card
    .card-header
      img
        width: 80px
        height: 80px
        object-fit: cover

    .card-footer
      button
        width: 100%

