/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
.section {
  margin: 2em;
}
.section .page-title {
  text-transform: capitalize;
}
.section .section-content {
  margin: 1em;
}

i {
  font-size: 1em;
}

.card-deck {
  margin-bottom: 1.5em;
}

.card {
  border-radius: 0;
  padding: 1em;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.card .card-header {
  border-radius: 0;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0;
  border: none;
  vertical-align: center;
}
.card .card-body {
  padding: 0;
}
.card .card-footer {
  background-color: transparent;
  padding: 0;
  border: none;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
}
.dropdown-menu a {
  text-transform: capitalize;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
.btn {
  border-radius: 0;
  text-transform: capitalize;
}
.btn i {
  margin-right: 0.5em;
}
.btn:hover, .btn:focus {
  transition: all ease-in-out 150ms;
  outline: none;
  box-shadow: none;
}

.btn-dark-red-f {
  background-color: #a8001f;
  color: white;
}
.btn-dark-red-f:hover, .btn-dark-red-f:focus {
  background-color: transparent;
  border: 1px solid #a8001f;
  color: #a8001f;
}

.btn-dark-red-o {
  background-color: transparent;
  color: #a8001f;
  border: 1px solid #a8001f;
}
.btn-dark-red-o:hover, .btn-dark-red-o:focus {
  background-color: #a8001f;
  border: 1px solid transparent;
  color: white;
}

.btn-dark-blue-f {
  background-color: #00417c;
  color: white;
}
.btn-dark-blue-f:hover, .btn-dark-blue-f:focus {
  background-color: transparent;
  border: 1px solid #00417c;
  color: #00417c;
}

.btn-dark-blue-o {
  background-color: transparent;
  color: #00417c;
  border: 1px solid #00417c;
}
.btn-dark-blue-o:hover, .btn-dark-blue-o:focus {
  background-color: #00417c;
  border: 1px solid transparent;
  color: white;
}

.btn-darker-grey-f {
  background-color: #333333;
  color: white;
}
.btn-darker-grey-f:hover, .btn-darker-grey-f:focus {
  background-color: transparent;
  border: 1px solid #333333;
  color: #333333;
}

.btn-darker-grey-o {
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}
.btn-darker-grey-o:hover, .btn-darker-grey-o:focus {
  background-color: #333333;
  border: 1px solid transparent;
  color: white;
}

.section .card .card-header {
  margin-bottom: 1em;
}
.section .card .card-body img {
  width: 100%;
  height: auto;
  border: 1px solid #333333;
}
.section .card .card-body p {
  margin: 0;
}
.section .card .card-body .sub-section {
  padding: 0;
}
.section .card .card-body .sub-section .sub-section-title {
  margin-bottom: 1em;
}
.section .card .card-body .sub-section .sub-section-title h6 {
  text-transform: uppercase;
  color: #666666;
}
.section .card .card-body .sub-section .sub-section-body {
  padding: 1em 1.5em;
  border: 1px solid #cccccc;
}

/*# sourceMappingURL=settings.css.map */
