@import "../themes/colors"
@import "../layout/section"
@import "../base/icons"
@import "../components/cards"
@import "../components/dropdowns"
@import "../components/buttons"

.section
  .card
    .card-header
      margin-bottom: 1em

    .card-body
      img
        width: 100%
        height: auto
        border: 1px solid $color-darker-grey

      p
        margin: 0

      .sub-section
        padding: 0

        .sub-section-title
          margin-bottom: 1em

          h6
            text-transform: uppercase
            color: $color-dark-grey

        .sub-section-body
          padding: 1em 1.5em
          border: 1px solid $color-light-grey
