@import "../themes/colors"
@import "../abstracts/mixins"

.btn
  @include border-radius
  text-transform: capitalize

  i
    margin-right: .5em

  &:hover,
  &:focus
    @include transition
    outline: none
    box-shadow: none

.btn-dark-red-f
  background-color: $color-dark-red
  color: white

  &:hover,
  &:focus
    background-color: transparent
    border: 1px solid $color-dark-red
    color: $color-dark-red

.btn-dark-red-o
  background-color: transparent
  color: $color-dark-red
  border: 1px solid $color-dark-red

  &:hover,
  &:focus
    background-color: $color-dark-red
    border: 1px solid transparent
    color: white

.btn-dark-blue-f
  background-color: $color-dark-blue
  color: white

  &:hover,
  &:focus
    background-color: transparent
    border: 1px solid $color-dark-blue
    color: $color-dark-blue

.btn-dark-blue-o
  background-color: transparent
  color: $color-dark-blue
  border: 1px solid $color-dark-blue

  &:hover,
  &:focus
    background-color: $color-dark-blue
    border: 1px solid transparent
    color: white

.btn-dark-grey-f
  background-color: $color-dark-grey
  color: white

  &:hover,
  &:focus
    background-color: transparent
    border: 1px solid $color-dark-grey
    color: $color-dark-grey

.btn-dark-grey-o
  background-color: transparent
  color: $color-dark-grey
  border: 1px solid $color-dark-grey

  &:hover,
  &:focus
    background-color: $color-dark-grey
    border: 1px solid transparent
    color: white

.btn-light-grey-f
  background-color: $color-light-grey
  color: $color-darker-grey

  &:hover,
  &:focus
    background-color: transparent
    border: 1px solid $color-darker-grey
    color: $color-light-grey

.btn-light-grey-o
  background-color: transparent
  color: $color-light-grey
  border: 1px solid $color-light-grey

  &:hover,
  &:focus
    background-color: $color-light-grey
    border: 1px solid transparent
    color: white
