@import "../abstracts/mixins"

.card-deck
  margin-bottom: 1.5em

.card
  @include border-radius
  padding: 1em
  border: none
  @include shadow-sm

  .card-header
    @include border-radius
    background-color: transparent
    padding: 0
    border: none
    vertical-align: center

    h1, h2, h3, h4, h5, h6
      text-transform: capitalize

  .card-body
    padding: 0

  .card-footer
    background-color: transparent
    padding: 0
    border: none
